@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body{
    background: hsl(240, 4%, 9%);
    color: white;
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Open Sans';
}