---
import Nav from "../components/Nav.astro";
import Card from "../components/Card.astro";
import Main from "../components/Main.astro";
import "../styles/global.css"
import AboutMe from "../components/AboutMe.astro";
import Space from "../components/Space.astro";

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Portfolio Astro</title>
	</head>
	<header>
		<Nav/>
	</header>
	<body>
		<Main/>
		<Space/>
		<AboutMe/>
		<p class="mx-6 text-4xl uppercase font-extrabold mb-4 mt-20 text-center lg:text-left">
			Proyectos
		</p>

		<ul class="grid gap-7 grid-cols-[repeat(auto-fit,_minmax(300px,_1fr))] m-auto mx-6 mb-48">
			<Card 
				title="Tic Tac Toe" 
				subtitle="El mítico juego tic tac toe!" 
				description="Creado con HTML, CSS, Javascript y React, haciendo uso de varios hooks."
				imageProject="/portfolio-astro/assets/tictactoe.png"/>
			<Card 
				title="Buscador películas" 
				subtitle="Encuentra tu película favorita!" 
				description="Buscador de películas haciendo uso de una API para obtener los datos."
				imageProject="/portfolio-astro/assets/movies.png"/>
			<Card/>
			<Card/>
			<Card/>
			<Card/>
		</ul>
	</body>
</html>
