<section class="h-auto p-9 text-center mb-36 flex flex-col lg:flex-row">
    
    <div class="w-full flex p-6 justify-center">
        
        <img src="/portfolio-astro/assets/perfi2_grisoscuro.jpg" alt=""
             class="w-72 rounded-full md:w-80 lg:w-96 shadow-lg shadow-green-400  hover:brightness-125">
    </div>
    
    <div class="items-center flex flex-col w-full lg:justify-center lg:text-center">
        <h1 class="w-full mb-3 text-2xl font-extrabold text-sky-300 lg:text-5xl">Frontend Developer</h1>
        <p class="md:max-w-96 lg:max-w-full px-5 mb-8 lg:px-0 lg:m-0 lg:text-2xl">¡Hola! Soy <span class="text-purple-400">David</span>.<br>
        Estoy buscando nuevas <span class="text-purple-400">oportunidades</span> para aportar <span class="text-purple-400">valor</span> y seguir creciendo profesionalmente en un equipo dinámico.</p>
    </div>

</section>